<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
		<title>Dojo Survey</title>
		<style>
			body {
				width: 50%;
				height: 100%;
				margin: 0 auto;
			}
		</style>
	</head>
	<body>
		<h1>Dojo Survey</h1>
		<form action="/process" method="post">
			<label for="your name">Your Name:</label>
			<input class="form-control" id="exampleFormControlInput1" type="text" name="name" />
			<label for="dojo location">Dojo Location:</label>
			<select class="form-select" aria-label="Default select example" name="location">
				<option value="San Jose">San Jose</option>
				<option value="Mass">Mass</option>
				<option value="Florida">Florida</option>
				<option value="Boston">Boston</option>
			</select>
			<label for="favorite language">Favorite Language:</label>
			<select class="form-select" aria-label="Default select example" name="language">
				<option value="Python">Python</option>
				<option value="Java">Java</option>
				<option value="HTML">HTML</option>
				<option value="CSS">CSS</option>
			</select>
			<label for="comment">Comments(optional):</label>
			<textarea class="form-control" id="exampleFormControlTextarea1" name="comment" cols="20" rows="3"></textarea>
			<input class="d-grid gap-2 col-6 mx-auto" type="submit" value="submit" />
		</form>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	</body>
</html>
