<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New Users</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
	</head>
	<body>
		<h1>Add a New User</h1>
		<form action="/users/new" method="POST">
			<div class="form-group">
				<label for="fname">First Name:</label>
				<input class="form-control" id="exampleFormControlInput1" type="text" name="fname" />
				<label for="lname">Last Name:</label>
				<input class="form-control" id="exampleFormControlInput1" type="text" name="lname" />
				<label for="email">Email:</label>
				<input class="form-control" id="exampleFormControlInput1" type="text" name="email" />
				<input class="d-grid gap-2 col-6 mx-auto" type="submit" value="Add User" />
			</div>
		</form>
		<a href="/users">Home</a>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	</body>
</html>
